<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsProductSaleAttrMapper">
    <select id="spuSaleAttrListCheckBySku" resultMap="spuSaleAttrListBySqlMap">
   SELECT
		sa.*, sav.*, sa.id AS sa_id,
		sav.id AS sav_id,
		IF (ssav.sku_id, 1, 0) AS isChecked
		FROM
			pms_product_sale_attr sa
		INNER JOIN pms_product_sale_attr_value sav ON sa.sale_attr_id = sav.sale_attr_id
		AND sa.product_id = sav.product_id
		AND sa.product_id = #{spuId}
		LEFT JOIN pms_sku_sale_attr_value ssav ON sav.id = ssav.sale_attr_value_id
		AND ssav.sku_id=#{skuId}
</select>
	<resultMap id="spuSaleAttrListBySqlMap" type="com.atguigu.gmall.bean.PmsProductSaleAttr" autoMapping="true">
		<result property="id" column="sa_id"></result>
		<collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.bean.PmsProductSaleAttrValue"  autoMapping="true" >
			<result property="id" column="sav_id"></result>
		</collection>
 	</resultMap>


</mapper>